{% case section.settings.feature_block_id %}
  {% when 'ccddbbb4-f883-4c3c-b666-935c38309c04' %}
  <div class="kaching-icon-block" data-block-id="ccddbbb4-f883-4c3c-b666-935c38309c04"></div>
{% endcase %}
{% schema %}
  {
    "name": "Icon block",
    "settings": [
      {
        "type": "select",
        "id": "feature_block_id",
        "label": "Icon block",
        "options": [{"value":"","label":"None"},{"value":"ccddbbb4-f883-4c3c-b666-935c38309c04","label":"Quality Control"}]
      }
    ],
    "presets": [
      {
        "name": "Guarantees & Features Icons",
        "category": "Image"
      }
    ]
  }
{% endschema %}
