{{ 'section-quality-control.css' | asset_url | stylesheet_tag }}
<div class="qc__info">
{% for block in section.blocks %}
{% case block.type %}
  {% when 'qc_not_passed_badge' and %}
    {%- if block.settings.not_passed -%}
    <div class="qc__wrapper">
    <div class="qc__badge">
      {%- render 'qc-badge-not-passed' -%}
    </div>
    {%- endif -%}
  {% when 'qc_not_passed_description' %}
    <div class="qc__container--not-passed">
      <div class="qc__text">
        {{ block.settings.not_passed_text }}
      </div>
    </div>
    </div>
{% endcase %}
{% endfor %}
</div>

{% schema %}
{
  "name": "QC Not Passed Section",
  "presets": [
    {
      "name": "QC Not Passed Section",
      "category": "ADVANCED LAYOUT",
    "blocks": [
        {
          "type": "qc_not_passed_badge"
        },
        {
          "type": "qc_not_passed_description"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "qc_not_passed_badge",
      "name": "QC-Not Passed Badge",
      "settings": [{
          "type": "checkbox",
          "id": "not_passed",
          "label": "t:sections.qc_not_passed.blocks.qc_not_passed_badge.settings.not_passed.label",
          "default": true
        }
      ]
    },
    {
      "type": "qc_not_passed_description",
      "name": "QC Not Passed Description",
      "settings": [
        {
          "type": "richtext",
          "id": "not_passed_text",
          "default": "<p>Untested or: tested, inspected, and found to have significant flaws that affect or prevent normal use. These items should be considered broken. Repair may or may not be possible.</p>",
          "label": "t:sections.qc_not_passed.blocks.qc_not_passed_description.settings.not_passed_text.label"
        }
      ]
    }
  ]
}
{% endschema %}
